.year-list{
    display: inline-block;

}
ul.year-list{
    width: 100%;
}
.year-list li{
    padding: 10px;
    float: left;
    list-style: none;

}
.year-list li>div{
    display: block;

}
#active{

    width: 80%;
}
#year-val{
    width: 100%;
    font-size: 200%;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: #337ab7;
}
#year-wrapper{
    width: 100%;
    height: 500px;

}
.month-mini{
    display: block;
    float: left;
    margin: 5px;
    width: 32%;
    height: 110px;
    background: #EEEEEE;
    padding: 10px;
}
a.month{
    overflow: hidden;
}

#year-val:hover{
    background: #d0eded;
}
.m_active{
    background: white;

}
  .year-wrapper,
  .month-wrapper,
  .day-wrapper{

  }
.event table{
    width: 100%;
    font-size: 150%;
    font-weight: normal;
}
.event table thead tr th{
    padding-left: 10px;
    padding-right: 10px;
}
th.back, th.forward{
    width: 10%;
}
.event i{
    color: #e5dee3;
}
.event .navig,
.event .content{
    display: none;
}

.event i:hover{
    color: #bfb8bd;
    transition-duration: 500ms;
}

.event .content{
    text-align: center;
}
.event .content table{
    display: inline-block;
    width: auto;
}
.event .content table td{


}

/*
.event .year-wrapper .content table{
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
}
.event .year-wrapper .content table tr td{
    font-weight: normal;
    text-align: center;
    font-size: 40%;
    background: #d0eded;
    height: 50px;
    padding: 10px;
}
*/
.event .back{
    text-align: right;
}
.event .forward{
    text-align: left;
}

.event th.select{
    width: 80%;
    height: 15px;
//background: #e5dee3;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.event th.select:hover{
    background: #f4edf2;
}